# application-prod.yml

spring:
  config:
    activate:
      on-profile: prod

  datasource:
    url: jdbc:mysql://localhost:3306/${DB_SCHEMA_NAME}?serverTimezone=Asia/Seoul&characterEncoding=UTF-8&rewriteBatchedStatements=true

    # [수정] Github Secrets 이름과 통일 (DB_USERNAME -> DB_USER)
    username: ${DB_USER}
    password: ${DB_PASSWORD}

    hikari:
      maximum-pool-size: 50
      minimum-idle: 50

  jpa:
    hibernate:
      ddl-auto: update

  # Redis Sentinel 설정 (운영 환경)
  data:
    redis:
      sentinel:
        master: mymaster
        nodes: ${REDIS_SENTINEL_NODES}  # 예: sentinel1:26379,sentinel2:26379,sentinel3:26379

discord:
  webhook-url: ${DISCORD_WEBHOOK_URL}