# application-prod.yml

spring:
  config:
    activate:
      on-profile: prod

  datasource:
    url: jdbc:mysql://localhost:3306/maple_expectation?serverTimezone=Asia/Seoul&characterEncoding=UTF-8&rewriteBatchedStatements=true
    
    # [수정] Github Secrets 이름과 통일 (DB_USERNAME -> DB_USER)
    username: ${DB_USER}
    password: ${DB_PASSWORD}

    hikari:
      maximum-pool-size: 50
      minimum-idle: 50

  jpa:
    hibernate:
      ddl-auto: validate