spring:
  profiles:
    active: local # [Safety Guard] 별도 설정 없으면 무조건 로컬 모드

  # 공통 드라이버 설정
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver

  # 공통 JPA 설정 (배치 사이즈 등 성능 옵션은 공통으로 가져감)
  jpa:
    properties:
      hibernate:
        jdbc:
          batch_size: 1000
        format_sql: false
        show_sql: false

# 로깅 설정 (공통)
logging:
  level:
    root: info
    org.hibernate.SQL: info
    org.hibernate.type.descriptor.sql: info
    org.hibernate.orm.jdbc.batch: ERROR

# 넥슨 API 키 (환경변수 주입 권장)
nexon:
  api:
    key: ${NEXON_API_KEY}

# 앱 전용 설정
app:
  optimization:
    use-compression: true
  aop:
    trace:
      enabled: true