# Issue #209: Prometheus Datasource Configuration
# Grafana가 시작될 때 자동으로 Prometheus 데이터소스를 등록합니다.

apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: false
    editable: false
